---
location_types:
  - name: "Continent"
    nestable: true
    children:
      - name: "Country"
        nestable: true

locations:
  - name: "{{ region_name }}"
    location_type__name: "Continent"
    status__name: "Active"
    prefixes:
      - prefix: "{{ region_prefix }}"
        
        
    children:
      - name: "{{ country_name }}"
        location_type__name: "Country"
        status__name: "Active"
        description: "Sub-region of {{ region_name }}"
        prefixes:
          - prefix: "{{ country_prefix }}"
          
            
