---


locations:
  - "!create_or_update:name": "{{ region_name }}"
    status__name: "Active"
    location_type__name: "Region"
    prefixes:
      - prefix: "{{ region_prefix }}"
        status__name: "Active"
        
    