---

{% include "designs/prefix.yaml.j2" %}

location_types:
  - "!create_or_update:name": "Region"
    nestable: true
    children:
      - "!create_or_update:name": "Country"
        nestable: true

locations:
  - "!create_or_update:name": "{{ region_name }}"
    location_type__name: "Region"
    status__name: "Active"
    prefixes:
      - "!ref:region_prefix"  

    children:
      - "!create_or_update:name": "{{ country_name }}"
        location_type__name: "Country"
        status__name: "Active"
        description: "Sub-region of {{ region_name }}"
        prefixes:
          - "!ref:region_prefix"
        
          
